In [1]:
import pandas as pd
ball=pd.read_csv(r"C:\Users\tyagi\Downloads\archive (1)\each_ball_records.csv")
match=pd.read_csv(r"C:\Users\tyagi\Downloads\archive (1)\each_match_records.csv")
print(ball.shape)
print(match.shape)

(17863, 9)
(74, 18)

# data Analyse

In [2]:
print(ball.info)

<bound method DataFrame.info of        match_no  ballnumber  inningno  over outcome           batter  \
0             1           1         1   0.1       0     Devon Conway
1             1           2         1   0.2     1lb     Devon Conway
2             1           3         1   0.3       0  Ruturaj Gaikwad
3             1           4         1   0.4       1  Ruturaj Gaikwad
4             1           5         1   0.5       0     Devon Conway
...         ...         ...       ...   ...     ...              ...
17858        74          95         2   0.1       0  Wriddhiman Saha
17859        74          96         2   0.2       0  Wriddhiman Saha
17860        74          97         2   0.3       1  Wriddhiman Saha
17861        74          98         2   0.4       1     Shubman Gill
17862        74          99         2   0.5       1  Wriddhiman Saha

               bowler                                     comment  score
0      Mohammed Shami     Mohammed Shami to Devon Conway, no run,      0
1      Mohammed Shami  Mohammed Shami to Devon Conway, 1 leg bye,      1
2      Mohammed Shami  Mohammed Shami to Ruturaj Gaikwad, no run,      0
3      Mohammed Shami   Mohammed Shami to Ruturaj Gaikwad, 1 run,      1
4      Mohammed Shami     Mohammed Shami to Devon Conway, no run,      0
...               ...                                         ...    ...
17858   Deepak Chahar   Deepak Chahar to Wriddhiman Saha, no run,      0
17859   Deepak Chahar   Deepak Chahar to Wriddhiman Saha, no run,      0
17860   Deepak Chahar    Deepak Chahar to Wriddhiman Saha, 1 run,      1
17861   Deepak Chahar       Deepak Chahar to Shubman Gill, 1 run,      1
17862   Deepak Chahar    Deepak Chahar to Wriddhiman Saha, 1 run,      1

[17863 rows x 9 columns]>

In [3]:
print(match.info)

<bound method DataFrame.info of     season        date  match_number  match_type  \
0     2023  31-03-2023             1       Group
1     2023  01-04-2023             2       Group
2     2023  01-04-2023             3       Group
3     2023  02-04-2023             4       Group
4     2023  02-04-2023             5       Group
..     ...         ...           ...         ...
69    2023  21-05-2023            70       Group
70    2023  23-05-2023            71   Qualifier
71    2023  24-05-2023            72  Eliminator
72    2023  26-05-2023            73   Qualifier
73    2023  29-05-2023            74       Final

                                                venue    location  \
0                               Narendra Modi Stadium   Ahmedabad
1        Punjab Cricket Association IS Bindra Stadium  Chandigarh
2   Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...     Lucknow
3                  Rajiv Gandhi International Stadium   Hyderabad
4                               M Chinnaswamy Stadium   Bengaluru
..                                                ...         ...
69                              M Chinnaswamy Stadium   Bengaluru
70                             MA Chidambaram Stadium     Chennai
71                             MA Chidambaram Stadium     Chennai
72                              Narendra Modi Stadium   Ahmedabad
73                              Narendra Modi Stadium   Ahmedabad

                          team1                        team2  \
0           Chennai Super Kings               Gujarat Titans
1                  Punjab Kings        Kolkata Knight Riders
2          Lucknow Super Giants               Delhi Capitals
3              Rajasthan Royals          Sunrisers Hyderabad
4                Mumbai Indians  Royal Challengers Bangalore
..                          ...                          ...
69  Royal Challengers Bangalore               Gujarat Titans
70          Chennai Super Kings               Gujarat Titans
71               Mumbai Indians         Lucknow Super Giants
72               Gujarat Titans               Mumbai Indians
73          Chennai Super Kings               Gujarat Titans

                       toss_won toss_decision                umpire1  \
0                Gujarat Titans         field            Nitin Menon
1         Kolkata Knight Riders         field           BNJ Oxenford
2                Delhi Capitals         field           AK Chaudhary
3           Sunrisers Hyderabad         field  KN Ananthapadmanabhan
4   Royal Challengers Bangalore         field            Nitin Menon
..                          ...           ...                    ...
69               Gujarat Titans         field            Nitin Menon
70               Gujarat Titans         field           AK Chaudhary
71               Mumbai Indians           bat           BNJ Oxenford
72               Mumbai Indians         field            Nitin Menon
73          Chennai Super Kings         field            Nitin Menon

          umpire2         reserve_umpire    match_referee  \
0      HAS Khalid              A Bengeri        J Srinath
1        YC Barde               PM Joshi         M Nayyar
2   NA Patwardhan             M Kuppuraj       DS Manohar
3        R Pandit   Abhijit Bhattacharya  V Narayan Kutty
4    Tapan Sharma              A Bengeri        J Srinath
..            ...                    ...              ...
69      VK Sharma              VM Dhokre        J Srinath
70    CB Gaffaney              VK Sharma         M Nayyar
71      VK Sharma           AK Chaudhary  V Narayan Kutty
72      RJ Tucker  KN Ananthapadmanabhan        J Srinath
73      RJ Tucker          J Madanagopal        J Srinath

                         winner  winner_runs  winner_wickets    man_of_match
0                Gujarat Titans          NaN             5.0     Rashid Khan
1                  Punjab Kings          7.0             NaN  Arshdeep Singh
2          Lucknow Super Giants         50.0             NaN         MA Wood
3              Rajasthan Royals         72.0             NaN      JC Buttler
4   Royal Challengers Bangalore          NaN             8.0    F du Plessis
..                          ...          ...             ...             ...
69               Gujarat Titans          NaN             6.0    Shubman Gill
70          Chennai Super Kings         15.0             NaN      RD Gaikwad
71               Mumbai Indians         81.0             NaN   Akash Madhwal
72               Gujarat Titans         62.0             NaN    Shubman Gill
73          Chennai Super Kings          NaN             5.0       DP Conway

[74 rows x 18 columns]>

In [4]:
print(ball.columns)

Index(['match_no', 'ballnumber', 'inningno', 'over', 'outcome', 'batter',
       'bowler', 'comment', 'score'],
      dtype='object')

In [5]:
print(match.columns)

Index(['season', 'date', 'match_number', 'match_type', 'venue', 'location',
       'team1', 'team2', 'toss_won', 'toss_decision', 'umpire1', 'umpire2',
       'reserve_umpire', 'match_referee', 'winner', 'winner_runs',
       'winner_wickets', 'man_of_match'],
      dtype='object')

In [6]:
print(ball.describe())

           match_no    ballnumber      inningno          over         score
count  17863.000000  17863.000000  17863.000000  17863.000000  17863.000000
mean      37.339641     61.620277      1.482898      9.669339      1.437832
std       21.374172     35.605743      0.499721      5.711899      1.712919
min        1.000000      1.000000      1.000000      0.100000      0.000000
25%       19.000000     31.000000      1.000000      4.600000      0.000000
50%       37.000000     61.000000      1.000000      9.500000      1.000000
75%       56.000000     92.000000      2.000000     14.500000      2.000000
max       74.000000    136.000000      2.000000     19.600000      7.000000

In [7]:
print(match.describe())

       season  match_number  winner_runs  winner_wickets
count    74.0     74.000000    40.000000       33.000000
mean   2023.0     37.500000    30.400000        5.727273
std       0.0     21.505813    27.554887        1.908414
min    2023.0      1.000000     1.000000        1.000000
25%    2023.0     19.250000     7.750000        5.000000
50%    2023.0     37.500000    22.000000        6.000000
75%    2023.0     55.750000    51.250000        7.000000
max    2023.0     74.000000   112.000000        9.000000

# data Cleaining

In [8]:
print(ball.isnull().sum())

match_no      0
ballnumber    0
inningno      0
over          0
outcome       0
batter        0
bowler        0
comment       0
score         0
dtype: int64

In [9]:
print(match.isnull().sum())

season             0
date               0
match_number       0
match_type         0
venue              0
location           0
team1              0
team2              0
toss_won           0
toss_decision      0
umpire1            0
umpire2            0
reserve_umpire     0
match_referee      0
winner             0
winner_runs       34
winner_wickets    41
man_of_match       1
dtype: int64

In [10]:
match['winner_runs'] = match['winner_runs'].fillna(0)
match['winner_wickets'] = match['winner_wickets'].fillna(0)

In [11]:
match['man_of_match'] = match['man_of_match'].fillna("No Award")

In [12]:
print(match.isnull().sum())

season            0
date              0
match_number      0
match_type        0
venue             0
location          0
team1             0
team2             0
toss_won          0
toss_decision     0
umpire1           0
umpire2           0
reserve_umpire    0
match_referee     0
winner            0
winner_runs       0
winner_wickets    0
man_of_match      0
dtype: int64

In [13]:
print(ball.dtypes)

match_no        int64
ballnumber      int64
inningno        int64
over          float64
outcome        object
batter         object
bowler         object
comment        object
score           int64
dtype: object

In [14]:
print(ball['over'].max())
print(ball['over'].min())

19.6
0.1

In [15]:
ball[ball['over']%1>0.6]

,match_no,ballnumber,inningno,over,outcome,batter,bowler,comment,score
11,1,12,1,1.6,1,Ruturaj Gaikwad,Hardik Pandya,"Hardik Pandya to Ruturaj Gaikwad, 1 run,",1
17,1,18,1,2.6,0,Moeen Ali,Mohammed Shami,"Mohammed Shami to Moeen Ali, no run,",0
23,1,24,1,3.6,0,Moeen Ali,Josh Little,"Josh Little to Moeen Ali, no run,",0
102,1,103,1,16.6,1,Ruturaj Gaikwad,Rashid Khan,"Rashid Khan to Ruturaj Gaikwad, 1 run,",1
108,1,109,1,17.6,1,Shivam Dube,Alzarri Joseph,"Alzarri Joseph to Shivam Dube, 1 run,",1
...,...,...,...,...,...,...,...,...,...
17757,74,111,1,18.6,6,Hardik Pandya,Tushar Deshpande,"Tushar Deshpande to Hardik Pandya, Six,",6
17763,74,117,1,19.6,w,Rashid Khan,Matheesha Pathirana,"Matheesha Pathirana to Rashid Khan, no run, ...",0
17776,74,13,2,1.6,1,Devon Conway,Hardik Pandya,"Hardik Pandya to Devon Conway, 1 run,",1
17782,74,19,2,2.6,1,Devon Conway,Mohammed Shami,"Mohammed Shami to Devon Conway, 1 run,",1
17788,74,25,2,3.6,4,Ruturaj Gaikwad,Rashid Khan,"Rashid Khan to Ruturaj Gaikwad, Four,",4

In [16]:
ball['outcome'].value_counts()

outcome
1      6609
0      4932
4      2160
6      1110
2      1088
w       914
1wd     570
1lb     209
3        45
1nb      31
2nb      31
1b       28
2wd      28
4lb      23
5wd      20
5nb      18
7nb      14
4b       13
2lb       9
3nb       5
3wd       3
2b        2
5         1
Name: count, dtype: int64

In [17]:
ball['is_wicket'] = ball['outcome'].apply(lambda x: 1 if x == 'w' else 0)

In [18]:
ball['is_extra'] = ball['outcome'].apply(
    lambda x: 1 if any(ext in str(x) for ext in ['wd','nb','lb','b']) else 0
)

In [19]:
ball['batsman_runs'] = ball.apply(
    lambda x: x['score'] if x['is_extra'] == 0 else 0,
    axis=1
)

In [20]:
print(ball)

       match_no  ballnumber  inningno  over outcome           batter  \
0             1           1         1   0.1       0     Devon Conway
1             1           2         1   0.2     1lb     Devon Conway
2             1           3         1   0.3       0  Ruturaj Gaikwad
3             1           4         1   0.4       1  Ruturaj Gaikwad
4             1           5         1   0.5       0     Devon Conway
...         ...         ...       ...   ...     ...              ...
17858        74          95         2   0.1       0  Wriddhiman Saha
17859        74          96         2   0.2       0  Wriddhiman Saha
17860        74          97         2   0.3       1  Wriddhiman Saha
17861        74          98         2   0.4       1     Shubman Gill
17862        74          99         2   0.5       1  Wriddhiman Saha

               bowler                                     comment  score  \
0      Mohammed Shami     Mohammed Shami to Devon Conway, no run,      0
1      Mohammed Shami  Mohammed Shami to Devon Conway, 1 leg bye,      1
2      Mohammed Shami  Mohammed Shami to Ruturaj Gaikwad, no run,      0
3      Mohammed Shami   Mohammed Shami to Ruturaj Gaikwad, 1 run,      1
4      Mohammed Shami     Mohammed Shami to Devon Conway, no run,      0
...               ...                                         ...    ...
17858   Deepak Chahar   Deepak Chahar to Wriddhiman Saha, no run,      0
17859   Deepak Chahar   Deepak Chahar to Wriddhiman Saha, no run,      0
17860   Deepak Chahar    Deepak Chahar to Wriddhiman Saha, 1 run,      1
17861   Deepak Chahar       Deepak Chahar to Shubman Gill, 1 run,      1
17862   Deepak Chahar    Deepak Chahar to Wriddhiman Saha, 1 run,      1

       is_wicket  is_extra  batsman_runs
0              0         0             0
1              0         1             0
2              0         0             0
3              0         0             1
4              0         0             0
...          ...       ...           ...
17858          0         0             0
17859          0         0             0
17860          0         0             1
17861          0         0             1
17862          0         0             1

[17863 rows x 12 columns]

In [21]:
print(match)

    season        date  match_number  match_type  \
0     2023  31-03-2023             1       Group
1     2023  01-04-2023             2       Group
2     2023  01-04-2023             3       Group
3     2023  02-04-2023             4       Group
4     2023  02-04-2023             5       Group
..     ...         ...           ...         ...
69    2023  21-05-2023            70       Group
70    2023  23-05-2023            71   Qualifier
71    2023  24-05-2023            72  Eliminator
72    2023  26-05-2023            73   Qualifier
73    2023  29-05-2023            74       Final

                                                venue    location  \
0                               Narendra Modi Stadium   Ahmedabad
1        Punjab Cricket Association IS Bindra Stadium  Chandigarh
2   Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...     Lucknow
3                  Rajiv Gandhi International Stadium   Hyderabad
4                               M Chinnaswamy Stadium   Bengaluru
..                                                ...         ...
69                              M Chinnaswamy Stadium   Bengaluru
70                             MA Chidambaram Stadium     Chennai
71                             MA Chidambaram Stadium     Chennai
72                              Narendra Modi Stadium   Ahmedabad
73                              Narendra Modi Stadium   Ahmedabad

                          team1                        team2  \
0           Chennai Super Kings               Gujarat Titans
1                  Punjab Kings        Kolkata Knight Riders
2          Lucknow Super Giants               Delhi Capitals
3              Rajasthan Royals          Sunrisers Hyderabad
4                Mumbai Indians  Royal Challengers Bangalore
..                          ...                          ...
69  Royal Challengers Bangalore               Gujarat Titans
70          Chennai Super Kings               Gujarat Titans
71               Mumbai Indians         Lucknow Super Giants
72               Gujarat Titans               Mumbai Indians
73          Chennai Super Kings               Gujarat Titans

                       toss_won toss_decision                umpire1  \
0                Gujarat Titans         field            Nitin Menon
1         Kolkata Knight Riders         field           BNJ Oxenford
2                Delhi Capitals         field           AK Chaudhary
3           Sunrisers Hyderabad         field  KN Ananthapadmanabhan
4   Royal Challengers Bangalore         field            Nitin Menon
..                          ...           ...                    ...
69               Gujarat Titans         field            Nitin Menon
70               Gujarat Titans         field           AK Chaudhary
71               Mumbai Indians           bat           BNJ Oxenford
72               Mumbai Indians         field            Nitin Menon
73          Chennai Super Kings         field            Nitin Menon

          umpire2         reserve_umpire    match_referee  \
0      HAS Khalid              A Bengeri        J Srinath
1        YC Barde               PM Joshi         M Nayyar
2   NA Patwardhan             M Kuppuraj       DS Manohar
3        R Pandit   Abhijit Bhattacharya  V Narayan Kutty
4    Tapan Sharma              A Bengeri        J Srinath
..            ...                    ...              ...
69      VK Sharma              VM Dhokre        J Srinath
70    CB Gaffaney              VK Sharma         M Nayyar
71      VK Sharma           AK Chaudhary  V Narayan Kutty
72      RJ Tucker  KN Ananthapadmanabhan        J Srinath
73      RJ Tucker          J Madanagopal        J Srinath

                         winner  winner_runs  winner_wickets    man_of_match
0                Gujarat Titans          0.0             5.0     Rashid Khan
1                  Punjab Kings          7.0             0.0  Arshdeep Singh
2          Lucknow Super Giants         50.0             0.0         MA Wood
3              Rajasthan Royals         72.0             0.0      JC Buttler
4   Royal Challengers Bangalore          0.0             8.0    F du Plessis
..                          ...          ...             ...             ...
69               Gujarat Titans          0.0             6.0    Shubman Gill
70          Chennai Super Kings         15.0             0.0      RD Gaikwad
71               Mumbai Indians         81.0             0.0   Akash Madhwal
72               Gujarat Titans         62.0             0.0    Shubman Gill
73          Chennai Super Kings          0.0             5.0       DP Conway

[74 rows x 18 columns]

In [22]:
ball.columns = ball.columns.str.strip().str.lower().str.replace(" ", "_")
match.columns = match.columns.str.strip().str.lower().str.replace(" ", "_")

In [23]:
match['date'] = pd.to_datetime(match['date'], format='%d-%m-%Y')
print(match['date'].dtype)

datetime64[ns]

In [24]:
print(ball.duplicated().sum())
print(match.duplicated().sum())

0
0

In [25]:
print(ball[ball['score']<0])

Empty DataFrame
Columns: [match_no, ballnumber, inningno, over, outcome, batter, bowler, comment, score, is_wicket, is_extra, batsman_runs]
Index: []

In [26]:
print(set(match['match_number']) - set(ball['match_no']))

set()

# merging

In [27]:
merged = ball.merge(
    match,
    left_on='match_no',
    right_on='match_number',
    how='left'
)

In [28]:
print(merged.shape)

(17863, 30)

In [29]:
print(merged.head(10))

   match_no  ballnumber  inningno  over outcome           batter  \
0         1           1         1   0.1       0     Devon Conway
1         1           2         1   0.2     1lb     Devon Conway
2         1           3         1   0.3       0  Ruturaj Gaikwad
3         1           4         1   0.4       1  Ruturaj Gaikwad
4         1           5         1   0.5       0     Devon Conway
5         1           6         1   0.6       0     Devon Conway
6         1           7         1   1.1       4  Ruturaj Gaikwad
7         1           8         1   1.2       0  Ruturaj Gaikwad
8         1           9         1   1.3       4  Ruturaj Gaikwad
9         1          10         1   1.4       1  Ruturaj Gaikwad

           bowler                                     comment  score  \
0  Mohammed Shami     Mohammed Shami to Devon Conway, no run,      0
1  Mohammed Shami  Mohammed Shami to Devon Conway, 1 leg bye,      1
2  Mohammed Shami  Mohammed Shami to Ruturaj Gaikwad, no run,      0
3  Mohammed Shami   Mohammed Shami to Ruturaj Gaikwad, 1 run,      1
4  Mohammed Shami     Mohammed Shami to Devon Conway, no run,      0
5  Mohammed Shami     Mohammed Shami to Devon Conway, no run,      0
6   Hardik Pandya     Hardik Pandya to Ruturaj Gaikwad, Four,      4
7   Hardik Pandya   Hardik Pandya to Ruturaj Gaikwad, no run,      0
8   Hardik Pandya     Hardik Pandya to Ruturaj Gaikwad, Four,      4
9   Hardik Pandya    Hardik Pandya to Ruturaj Gaikwad, 1 run,      1

   is_wicket  ...        toss_won  toss_decision      umpire1     umpire2  \
0          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
1          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
2          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
3          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
4          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
5          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
6          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
7          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
8          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid
9          0  ...  Gujarat Titans          field  Nitin Menon  HAS Khalid

   reserve_umpire match_referee          winner winner_runs winner_wickets  \
0       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
1       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
2       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
3       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
4       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
5       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
6       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
7       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
8       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0
9       A Bengeri     J Srinath  Gujarat Titans         0.0            5.0

  man_of_match
0  Rashid Khan
1  Rashid Khan
2  Rashid Khan
3  Rashid Khan
4  Rashid Khan
5  Rashid Khan
6  Rashid Khan
7  Rashid Khan
8  Rashid Khan
9  Rashid Khan

[10 rows x 30 columns]

# Season-wise Total Runs

In [30]:
merged.groupby('season')['score'].sum()
print(merged.columns)

Index(['match_no', 'ballnumber', 'inningno', 'over', 'outcome', 'batter',
       'bowler', 'comment', 'score', 'is_wicket', 'is_extra', 'batsman_runs',
       'season', 'date', 'match_number', 'match_type', 'venue', 'location',
       'team1', 'team2', 'toss_won', 'toss_decision', 'umpire1', 'umpire2',
       'reserve_umpire', 'match_referee', 'winner', 'winner_runs',
       'winner_wickets', 'man_of_match'],
      dtype='object')

# Top 10 Batsman (Total Runs)

In [31]:
top_batsman=merged.groupby('batter')['batsman_runs'].sum().sort_values(ascending=False).head(10)
print(top_batsman)

batter
Shubman Gill        878
Faf du Plessis      712
Devon Conway        655
Virat Kohli         635
Yashasvi Jaiswal    603
Ruturaj Gaikwad     586
Suryakumar Yadav    581
David Warner        504
Rinku Singh         459
Ishan Kishan        452
Name: batsman_runs, dtype: int64

# Top Wicket Takers

In [32]:
top_wicket_taker=merged.groupby('bowler')['is_wicket'].sum().sort_values(ascending=False).head(10)
print(top_wicket_taker)

bowler
Mohit Sharma           31
Mohammed Shami         28
Rashid Khan            28
Tushar Deshpande       24
Piyush Chawla          23
Matheesha Pathirana    23
Yuzvendra Chahal       22
Mohammed Siraj         20
Ravindra Jadeja        20
Varun Chakravarthy     20
Name: is_wicket, dtype: int64

# strike rate

In [33]:
# Group by batter
batsman_stats = ball.groupby('batter').agg({
    'batsman_runs': 'sum',
    'is_extra': lambda x: (x == 0).sum()
}).reset_index()

# Rename columns
batsman_stats.columns = ['batter', 'total_runs', 'total_balls']
print(batsman_stats)

              batter  total_runs  total_balls
0       Abdul Basith           1            1
1        Abdul Samad         164          121
2    Abhinav Manohar         114           83
3    Abhishek Sharma         225          154
4      Abishek Porel          33           30
..               ...         ...          ...
177             inis          96           64
178              kes          18            6
179         n Sundar         146          106
180               ne          94           42
181             rius          24           23

[182 rows x 3 columns]

In [34]:
batsman_stats['strike_rate'] = (
    batsman_stats['total_runs'] / batsman_stats['total_balls']
) * 100

In [35]:
filtered = batsman_stats[batsman_stats['total_balls'] >= 200]

In [36]:
top_5_sr = filtered.sort_values(
    by='strike_rate',
    ascending=False
).head(10)

top_5_sr

               batter  total_runs  total_balls  strike_rate
47      Glenn Maxwell         400          214   186.915888
152  Suryakumar Yadav         581          323   179.876161
55   Heinrich Klaasen         445          250   178.000000
108   Nicholas Pooran         346          202   171.287129
155       Tilak Varma         339          202   167.821782
175  Yashasvi Jaiswal         603          360   167.500000
30      Cameron Green         422          261   161.685824
148       Shivam Dube         418          261   160.153257
149      Shubman Gill         878          554   158.483755
140      Sanju Samson         351          224   156.696429

# Most Sixes in IPL 2023

In [37]:
sixes=merged[merged['batsman_runs']==6]

In [38]:
six_count = sixes.groupby('batter').size().reset_index(name='total_sixes')

In [39]:
top_sixes = six_count.sort_values(
    by='total_sixes',
    ascending=False
)

top_sixes.head(10)

              batter  total_sixes
30    Faf du Plessis           36
94       Shivam Dube           35
95      Shubman Gill           32
31     Glenn Maxwell           31
83   Ruturaj Gaikwad           30
53          Marcus S           27
98  Suryakumar Yadav           27
78       Rinku Singh           27
63   Nicholas Pooran           26
38  Heinrich Klaasen           25

# Boundary percentage

In [40]:
# total valid  balls
total_balls = ball[ball['is_extra'] == 0].groupby('batter').size().reset_index(name='total_balls')
print(total_balls)

              batter  total_balls
0       Abdul Basith            1
1        Abdul Samad          121
2    Abhinav Manohar           83
3    Abhishek Sharma          154
4      Abishek Porel           30
..               ...          ...
174             inis           64
175              kes            6
176         n Sundar          106
177               ne           42
178             rius           23

[179 rows x 2 columns]

In [41]:
 # Boundary balls (4 or 6)
boundary = ball[
    (ball['batsman_runs'] == 4) | (ball['batsman_runs'] == 6)
]
boundary_count = boundary.groupby('batter').size().reset_index(name='boundary_balls')

# Merge
boundary_stats = total_balls.merge(boundary_count, on='batter', how='left')

# Fill NaN with 0
boundary_stats['boundary_balls'] = boundary_stats['boundary_balls'].fillna(0)

# Boundary percentage
boundary_stats['boundary_percentage'] = (
    boundary_stats['boundary_balls'] / boundary_stats['total_balls']
) * 100

# Apply 200 ball filter

filtered = boundary_stats[boundary_stats['total_balls'] >= 200]

# Top 5
filtered.sort_values(by='boundary_percentage', ascending=False).head(5)

                batter  total_balls  boundary_balls  boundary_percentage
172   Yashasvi Jaiswal          360           106.0            29.444444
46       Glenn Maxwell          214            60.0            28.037383
150   Suryakumar Yadav          323            88.0            27.244582
111  Prabhsimran Singh          232            57.0            24.568966
153        Tilak Varma          202            49.0            24.257426

# Average run per match

In [42]:
run_per_match=ball.groupby(['batter','match_no'])['batsman_runs'].sum().reset_index()
print(run_per_match)

            batter  match_no  batsman_runs
0     Abdul Basith        32             1
1      Abdul Samad         4            31
2      Abdul Samad        10            21
3      Abdul Samad        25             9
4      Abdul Samad        40            28
...            ...       ...           ...
1182            ne        31            23
1183            ne        38            19
1184            ne        41            16
1185            ne        53            27
1186          rius        12            24

[1187 rows x 3 columns]

In [43]:
batsman_avg=run_per_match.groupby('batter').agg({
    'batsman_runs':'sum',
    'match_no':'nunique'}).reset_index()
batsman_avg.columns = ['batter', 'total_runs', 'matches_played']
print(batsman_avg)

              batter  total_runs  matches_played
0       Abdul Basith           1               1
1        Abdul Samad         164               8
2    Abhinav Manohar         114               6
3    Abhishek Sharma         225              11
4      Abishek Porel          33               4
..               ...         ...             ...
177             inis          96               5
178              kes          18               1
179         n Sundar         146               7
180               ne          94               5
181             rius          24               1

[182 rows x 3 columns]

In [44]:
batsman_avg['avg_runs_per_match'] = (
    batsman_avg['total_runs'] / batsman_avg['matches_played']
)
filtered = batsman_avg[batsman_avg['matches_played'] >= 5]
filtered.sort_values(
    by='avg_runs_per_match',
    ascending=False
).head(5)

             batter  total_runs  matches_played  avg_runs_per_match
149    Shubman Gill         878              17           51.647059
45   Faf du Plessis         712              14           50.857143
167     Virat Kohli         635              14           45.357143
137   Sai Sudharsan         355               8           44.375000
42     Devon Conway         655              15           43.666667

# Death Overs Performance

In [45]:
death_over=ball[ball['over']>=16]


death_stats=death_over.groupby('batter').agg({
    'batsman_runs':'sum',
    'is_extra':lambda x:(x==0).sum()}).reset_index()

death_stats.columns = ['batter', 'death_runs', 'death_balls']

death_stats['death_strike_rate'] = (
    death_stats['death_runs'] / death_stats['death_balls']
) * 100


death_stats.sort_values(by='death_runs', ascending=False).head(10)

              batter  death_runs  death_balls  death_strike_rate
111      Rinku Singh         233          121         192.561983
136        Tim David         166           84         197.619048
127  Shimron Hetmyer         165           83         198.795181
108  Ravindra Jadeja         151           91         165.934066
94   Nicholas Pooran         130           68         191.176471
124    Shahrukh Khan         129           72         179.166667
24      Ayush Badoni         128           70         182.857143
41       Dhruv Jurel         125           59         211.864407
23        Axar Patel         122           69         176.811594
15     Andre Russell         115           69         166.666667

# Most Ducks

In [46]:
runs_per_match = ball.groupby(
    ['batter', 'match_no']
).agg({
    'batsman_runs': 'sum',
    'is_wicket': 'max'
}).reset_index()
print(runs_per_match)
duck=runs_per_match[(runs_per_match['batsman_runs']==0) & (runs_per_match['is_wicket']==1)]
print(duck)

duck_count=duck.groupby('batter').size().reset_index(name='total_duck')
duck_count.sort_values(by='total_duck',ascending=False).head(10)

            batter  match_no  batsman_runs  is_wicket
0     Abdul Basith        32             1          0
1      Abdul Samad         4            31          0
2      Abdul Samad        10            21          1
3      Abdul Samad        25             9          1
4      Abdul Samad        40            28          1
...            ...       ...           ...        ...
1182            ne        31            23          1
1183            ne        38            19          1
1184            ne        41            16          0
1185            ne        53            27          0
1186          rius        12            24          0

[1187 rows x 4 columns]
                batter  match_no  batsman_runs  is_wicket
15     Abhishek Sharma         4             0          1
35       Aiden Markram        10             0          1
65     Aman Hakim Khan        28             0          1
76       Ambati Rayudu        37             0          1
84       Andre Russell         9             0          1
...                ...       ...           ...        ...
1109       Virat Kohli        32             0          1
1140   Wriddhiman Saha        44             0          1
1144   Wriddhiman Saha        62             0          1
1164  Yashasvi Jaiswal        60             0          1
1166     Yudhvir Singh        21             0          1

[105 rows x 4 columns]

                batter  total_duck
25         Jos Buttler           5
16      Dinesh Karthik           4
20         Harry Brook           3
28       Krunal Pandya           3
62        Sunil Narine           3
29       Kuldeep Yadav           2
30         Kyle Mayers           2
12        David Warner           2
55       Rilee Rossouw           2
50  Rahmanullah Gurbaz           2

# Bowler Section 
 # Most Wickets

In [47]:
wicket=ball[ball['is_wicket']==1]

In [48]:
wicket_count = wicket.groupby('bowler').size().reset_index(name='total_wickets')

print(wicket_count)

filter=wicket_count.sort_values(by='total_wickets', ascending=False).head(10)
print(filter)

               bowler  total_wickets
0     Abhishek Sharma              2
1          Adam Zampa              9
2         Adil Rashid              2
3       Aiden Markram              1
4          Akash Deep              1
..                ...            ...
110     Wayne Parnell              9
111        Yash Dayal              2
112       Yash Thakur             15
113     Yudhvir Singh              3
114  Yuzvendra Chahal             22

[115 rows x 2 columns]
                  bowler  total_wickets
69          Mohit Sharma             31
67        Mohammed Shami             28
82           Rashid Khan             28
102     Tushar Deshpande             24
78         Piyush Chawla             23
60   Matheesha Pathirana             23
114     Yuzvendra Chahal             22
68        Mohammed Siraj             20
106   Varun Chakravarthy             20
85       Ravindra Jadeja             20

# Economy Rate 
    (Condition: minimum 20 overs bowled)

In [49]:
bowler_run=ball.groupby('bowler')['score'].size().reset_index(name='total_runs')

In [50]:
bowler_ball=ball[ball['is_extra']==0].groupby('bowler').size().reset_index(name='total_balls')

In [51]:
bowler_stat=bowler_run.merge(bowler_ball, on ='bowler')

In [52]:
bowler_stat['economy'] = (
    bowler_stat['total_runs'] / bowler_stat['total_balls']
) * 6

In [53]:
filtered = bowler_stat[bowler_stat['total_balls'] >= 120]
filtered.sort_values(
    by='economy',
    ascending=True
).head(10)

                bowler  total_runs  total_balls   economy
74     Mayank Markande         230          228  6.052632
94       Piyush Chawla         371          367  6.065395
129  Wanindu Hasaranga         175          173  6.069364
82        Mohit Sharma         268          264  6.090909
1           Adam Zampa         133          131  6.091603
56       Krunal Pandya         253          248  6.120968
97        Rahul Chahar         301          295  6.122034
103    Ravindra Jadeja         348          341  6.123167
36       Harpreet Brar         166          162  6.148148
100        Rashid Khan         407          397  6.151134

# Death overs (16â€“20)
       (Condition: minimum 5 overs in death)

In [54]:
death_over=ball[ball['over']>=16]


death_stats=death_over.groupby('batter').agg({
    'batsman_runs':'sum',
    'is_extra':lambda x:(x==0).sum()}).reset_index()

death_stats.columns = ['batter', 'death_runs', 'death_balls']

death_stats['death_economy'] = (
    death_stats['death_runs'] / death_stats['death_balls']
) * 6

filter=death_stats[death_stats['death_balls']>30]
filter.sort_values(by='death_economy',ascending=True).head(10)

               batter  death_runs  death_balls  death_economy
69      Kuldeep Yadav          30           46       3.913043
33       David Miller         110           69       9.565217
42     Dinesh Karthik          82           51       9.647059
108   Ravindra Jadeja         151           91       9.956044
15      Andre Russell         115           69      10.000000
1         Abdul Samad         109           63      10.380952
28      Cameron Green          63           36      10.500000
23         Axar Patel         122           69      10.608696
124     Shahrukh Khan         129           72      10.750000
52   Heinrich Klaasen         108           60      10.800000

# Powerplay Wickets

In [55]:
powerplay=ball[ball['over']<6]

pp_wicket=powerplay[powerplay['is_wicket']==1]

pp_wicket_count = pp_wicket.groupby('bowler') \
    .size() \
    .reset_index(name='powerplay_wickets')

In [56]:
pp_wicket_count.sort_values(
    by='powerplay_wickets',
    ascending=False
).head(10)

               bowler  powerplay_wickets
38     Mohammed Shami                 17
39     Mohammed Siraj                 11
15      Deepak Chahar                 10
56        Trent Boult                 10
57   Tushar Deshpande                  8
23  Jason Behrendorff                  8
32       Marco Jansen                  7
10  Bhuvneshwar Kumar                  7
8      Arshdeep Singh                  6
22      Ishant Sharma                  6

# team Analsysis

# Team Win Count & Win Percentage

In [57]:
team1=match['team1']
team2=match['team2']
allteam=pd.concat([team1,team2])
matches_played = allteam.value_counts().reset_index()
matches_played.columns = ['team', 'matches_played']

In [58]:
wins=match['winner'].value_counts().reset_index()
wins.columns = ['team', 'wins']

In [59]:
team_stat=matches_played.merge(wins,on='team', how='left')
team_stat['wins'] = team_stat['wins'].fillna(0)

In [60]:
team_stat['win_percentage'] = (
    team_stat['wins'] / team_stat['matches_played']
) * 100

team_stat.sort_values(
    by='win_percentage',
    ascending=False
)

                          team  matches_played  wins  win_percentage
0               Gujarat Titans              17    11       64.705882
1          Chennai Super Kings              16    10       62.500000
2               Mumbai Indians              16     9       56.250000
3         Lucknow Super Giants              15     8       53.333333
5             Rajasthan Royals              14     7       50.000000
9  Royal Challengers Bangalore              14     7       50.000000
4                 Punjab Kings              14     6       42.857143
7        Kolkata Knight Riders              14     6       42.857143
6               Delhi Capitals              14     5       35.714286
8          Sunrisers Hyderabad              14     4       28.571429

# Toss Impact Analysis

In [61]:
match['toss_win_winner']=(match['toss_won']==match['winner'])

In [62]:
toss_result=match['toss_win_winner'].value_counts().reset_index()
toss_result.columns = ['toss_won_and_won_match', 'count']

In [63]:
toss_result['percentage'] = (
    toss_result['count'] / toss_result['count'].sum()
) * 100

toss_result

   toss_won_and_won_match  count  percentage
0                   False     40   54.054054
1                    True     34   45.945946

# Venue-wise Average First Innings Score

In [64]:
first_innings=ball[ball['inningno']==1]

In [65]:
first_innings_score = first_innings.groupby('match_no')['score'].sum().reset_index()
first_innings_score.columns = ['match_no', 'first_innings_total']

In [66]:
venue_data = first_innings_score.merge(
    match[['match_number', 'venue']],
    left_on='match_no',
    right_on='match_number'
)

In [67]:
venue_avg = venue_data.groupby('venue')['first_innings_total'] \
    .mean() \
    .reset_index(name='avg_first_innings_score')

venue_avg.sort_values(
    by='avg_first_innings_score',
    ascending=False
)

                                                venue  avg_first_innings_score
4        Himachal Pradesh Cricket Association Stadium               200.000000
1                           Barsapara Cricket Stadium               198.000000
8        Punjab Cricket Association IS Bindra Stadium               197.800000
11                                   Wankhede Stadium               197.714286
5                               M Chinnaswamy Stadium               195.428571
7                               Narendra Modi Stadium               194.888889
3                                        Eden Gardens               192.857143
0                                Arun Jaitley Stadium               175.571429
9                  Rajiv Gandhi International Stadium               174.428571
10                             Sawai Mansingh Stadium               171.800000
6                              MA Chidambaram Stadium               170.000000
2   Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...               148.000000

# Highest Successful Chase

In [68]:
first_innings = ball[ball['inningno'] == 1]

first_innings_score = first_innings.groupby('match_no')['score'] \
    .sum() \
    .reset_index(name='first_innings_total')

In [69]:
match_data = first_innings_score.merge(
    match,
    left_on='match_no',
    right_on='match_number'
)

In [70]:
chases = match_data[match_data['winner_wickets'] > 0]

In [71]:
chases.sort_values(
    by='first_innings_total',
    ascending=False
)[['winner', 'first_innings_total', 'venue']].head(5)

,winner,first_innings_total,venue
51,Sunrisers Hyderabad,214,Sawai Mansingh Stadium
45,Mumbai Indians,214,Punjab Cricket Association IS Bindra Stadium
14,Lucknow Super Giants,212,M Chinnaswamy Stadium
41,Mumbai Indians,212,Wankhede Stadium
73,Chennai Super Kings,211,Narendra Modi Stadium

In [74]:
merged.to_csv('cleaned_merged_data.csv', index=False)

In [73]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus 

# 1ï¸âƒ£ Load cleaned CSV
df = pd.read_csv('cleaned_merged_data.csv')

# 2ï¸âƒ£ Create SQL engine (MySQL example)
# format: 'mysql+pymysql://username:password@host/database'
password='gungun@123'
encoded_password = quote_plus(password)
engine = create_engine(f'mysql+pymysql://root:{encoded_password}@localhost:3306/cricket_analysis')


# 3ï¸âƒ£ Load data into SQL
df.to_sql('ball_match', con=engine, if_exists='replace', index=False)

print("Merged & cleaned data successfully loaded into SQL!")

Merged & cleaned data successfully loaded into SQL!